@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Kingthings Spikeless";
	src: url("/public/fonts//Kingthings-Spikeless_2024-06-27_09_45/iefpk4de4fmqxycagtth.ttf")
		format("truetype");
}

* {
	font-family: "lato";
}
